.container  {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1fr 3fr / 1fr 2fr 1fr;
}

.sideBar  {
  grid-area: 1 / 1 / 4 / 2;
  border: solid black;
}

header {
  grid-column: 2 / 4;
  border: solid black;
}

.headerTop  {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.headerTop>div:nth-of-type(1) {
  grid-column: 1;
}

.headerTop>div:nth-of-type(2) {
  display: grid;
  grid-auto-flow: column; 
  grid-column: 2;
}

.cowGirl {
  height: 2.5rem;
  border: black solid 0.5px;
  border-radius: 50%;
}

.mainContent  {
  grid-column: 2 / 4;
  border: solid black;
}