:root {
  --tempBorder: solid blue;
  --headerSideMargin: 30px;
  --mainMarginLeftRight: 0 18px 18px;
  --imageSmall: 2.5rem;
  --imgBorderRadius: 50%;
  --sideBarPlusButtonsColor: #2dd4bf;
  --searchPlusMainBgC: #e4e4e7;
  --boxesBgC: #fafafa;
}

.container  {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 0.7fr 3fr / 0.6fr 2fr 1fr;
}

header {
  grid-column: 2 / 4;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #f9fafb;
}

.headerTop  {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}

.search {
  grid-column: 1;
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-left: var(--headerSideMargin);
}

input {
  width: clamp(70%, 70%, 80%);
  border-radius: 16px;
  background-color: var(--searchPlusMainBgC);
  border: none;
}

.notification {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  justify-content: end;
  grid-column: 2;
  gap: 20px;
  margin-right: var(--headerSideMargin)
}

/* Notification Profile Pic */
.notification img:last-of-type {
  height: var(--imageSmall);
  border-radius: 50%;
}

.headerBottom {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  margin-bottom: 10px;
  
}

h3, h4, h2  {
  margin: 0;
}

/* Header Bottom Left */
.headerBottom>div:first-child  {
  display: grid;
  grid-column: 1;
  grid-template-columns: max-content 1fr;
}

/* Header Bottom Profile Pic */
.headerBottom img {
  height: 3.5rem;
  border-radius: var(--imgBorderRadius);
  margin-left: var(--headerSideMargin);
  margin-right: 20px;
}

/* User Greeting Text */
.headerBottom > div > div {
  align-self: center;
}

/* Header Button Container */
.headerBottom>div:last-child  {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-right: var(--headerSideMargin)
}

.headerBottom button  {
  justify-self: end;
  background-color: var(--sideBarPlusButtonsColor);
  border: none;
  padding: 5px;
  border-radius: 20px;
  width: 86px;
}

.sideBar  {
  grid-area: 1 / 1 / 3 / 2;
  background-color: var(--sideBarPlusButtonsColor);
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 40px;
  justify-content: start;
  align-items: start;
}

.sideBarHeading {
  margin-top: 15px;
}

/* Sidebar icons + text */
.topSideBar a,
.bottomSideBar a,
.sideBarHeading a {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px;
  align-self: start;
  margin-left: 10px;
}

/* sidebar text */
.sideBarHeading h3,
.bottomSideBar span,
.topSideBar span  {
  color: #f9fafb;
  margin-top: 4px;
  font-weight: bold;
}

.topSideBar a,
.bottomSideBar a {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.mainWrapper  {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 250px;
  background-color: var(--searchPlusMainBgC);
}

/* Project Container Heading */
.mainWrapper>div:first-of-type {
  grid-column: 1;
  margin-left: 18px;
}

/* Announcement Heading */
.mainWrapper>div:nth-child(2) {
  grid-column: 2;
}

.mainHeadings {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.projectWrapper {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 300px;
  gap: 18px;
  margin: var(--mainMarginLeftRight);
}

/* Individual Project Containers */
.projectWrapper > div {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  padding: 25px 15px 20px;
  border-radius: 8px;
  background-color: var(--boxesBgC);
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: orange;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.projectWrapper p, 
.announceWrapper p {
  margin: 2.5px 0 0;
  font-size: 0.8rem;
}

.projectIcons  {
  display: grid;
  justify-content: end;
  grid-auto-flow: column;
  gap: 20px;
  margin-top: 10px;
}

.mainRightWrapper  {
  margin: var(--mainMarginLeftRight);
  margin-left: 0;
  display: grid;
  gap: 30px;
}

.announceWrapper  {
  padding: 25px 10px;
  height: max-content;
  border-radius: 8px;
  background-color: var(--boxesBgC);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.announceWrapper div  {
  font-weight: bold;
  font-size: 0.8rem;
}

.announceWrapper p  {
  font-size: 0.7rem;
}

.trendingHeading  {
  position: absolute;
  top: -55px
}

.trendingWrapper  {
  align-self: end;
  display: grid;
  gap: 25px;
  padding: 25px 15px 20px;
  border-radius: 8px;
  position: relative;
  background-color: var(--boxesBgC);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.trendingWrapper img  {
  height: var(--imageSmall);
  border-radius: var(--imgBorderRadius);
}

/* Trending Container */
.trendingWrapper > div  {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-flow: column;
  gap: 10px;
}
